{% extends "base.html" %}

  {% block title %}
    About
  {% endblock %}

  {% block content %}
    <div class="content">
      <div class="container">

        <div class="container rounded p-3">

          <h1> Organelle Quality Hub </h1>

            <p>Organelle Quality Hub is a mini-search engine that searches for information on the complete organelle genome records of
              eukaryotic organisms and their quality values. You can filter by species, organelle type, and even genes. Here, we give you
              a basic breakdown of features pertaining to organelle quality. Here you can view things like ambiguity content,
              RNAs reported, GC content, and a list of genes. </p>

              <p>For chloroplasts and other plastids, you can also view if any inverted repeats
                were ever reported along with inverted repeats that could be inferred by BLAST.</p>

            </div>

                        <br>

                              <h1>FAQs</h1>
                                <br>
                                <h3> What exactly are organelles?</h3>
                                  <br>
                                  <p> Almost all eukaryotic cells have various subunits within them required to perform
                                    basic functions; we call these organelles. Some of these organelles, such as mitochondria (responsible for cellular
                                    respiration) and chloroplasts (responsible for photosynthesis and are actually part of a much broader category of
                                    organelles called plastids), are believed to have evolved from bacteria
                                    billions of years ago and have remnants of their ancestral DNA within them. Though these genomes are much smaller than
                                    those of normal bacteria, they can still be sequenced. This is the information Organelle Quality Hub tries to provide.
                                  </p>

                                  <br>

                                  <h3> What are inverted repeats?</h3>
                                    <br>
                                    <p>   Basically, these are two separate
                                      sections of the genome that are "opposites" (complements) of each other and, when lined up, match each other's
                                      opposing base. For example, IrA (the first inverted repeat) could look like:
                                    </p>
                                    <br>
                                    <div class="text-center pt-3">
                                      <code class="text-primary fs-4">GCTTATTCTCTATGCGGGG</code>
                                      </div>
                                      <br>

                                      and then IrB would be the same sequence backwards and have its A bases swapped
                                      with Ts and Cs swapped with Gs (and vice versa) and it would look like:

                                      <div class="text-center pt-3">
                                        <code class="text-primary fs-4">CCCCGCATAGAGAATAAGC</code>
                                        </div>
                                        <br>

                                            </div>
                                          </div>

                                        {% endblock %}