{# Usage: modal_id, label, confirm_text, and download_url. #}
{% if download_view %}{% if url_arg %}{% url download_view url_arg as download_url %}{% else %}{% url download_view as download_url %}{% endif %}{% endif %}

<a class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#{{ modal_id }}">Download {{ label }}</a>

<div class="modal fade" id="{{ modal_id }}" tabindex="-1" aria-labelledby="{{ modal_id }}Label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="{{ modal_id }}Label">Confirmation</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>{{ confirm_text }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-download-url="{{ download_url }}">Yes</button>
      </div>
    </div>
  </div>
</div>

<script>
  (function () {
    var modalEl = document.getElementById('{{ modal_id }}');
    modalEl.querySelector('[data-download-url]').addEventListener('click', function () {
      var url = this.dataset.downloadUrl;
      bootstrap.Modal.getInstance(modalEl).hide();
      modalEl.addEventListener('hidden.bs.modal', function () {
        window.location.href = url;
      }, { once: true });
    });
  })();
</script>
