{% load static %}
{# Usage: modal_id, label, confirm_text, and download_url. #}
{% if download_view %}{% if url_arg %}{% url download_view url_arg as download_url %}{% else %}{% url download_view as download_url %}{% endif %}{% endif %}

<a href="#{{ modal_id }}" class="usa-button margin-bottom-3" aria-controls="{{ modal_id }}" data-open-modal>Download {{ label }}</a>

<div class="usa-modal" id="{{ modal_id }}" aria-labelledby="{{ modal_id }}-heading" aria-describedby="{{ modal_id }}-description">
  <div class="usa-modal__content">
    <div class="usa-modal__main">
      <h2 class="usa-modal__heading" id="{{ modal_id }}-heading">Confirmation</h2>
      <div class="usa-prose">
        <p id="{{ modal_id }}-description">{{ confirm_text }}</p>
      </div>
      <div class="usa-modal__footer">
        <ul class="usa-button-group">
          <li class="usa-button-group__item">
            <button type="button" class="usa-button" data-download-url="{{ download_url }}">Yes</button>
          </li>
          <li class="usa-button-group__item">
            <button type="button" class="usa-button usa-button--unstyled padding-105 text-center" data-close-modal>Close</button>
          </li>
        </ul>
      </div>
    </div>
    <button type="button" class="usa-button usa-modal__close" aria-label="Close this window" data-close-modal>
      <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
        <use xlink:href="{% static 'img/sprite.svg' %}#close"></use>
      </svg>
    </button>
  </div>
</div>

<script>
  (function () {
    var modalEl = document.getElementById('{{ modal_id }}');
    modalEl.querySelector('[data-download-url]').addEventListener('click', function () {
      window.location.href = this.dataset.downloadUrl;
    });
  })();
</script>
