{% extends "base.html" %}

{% block title %}Metadata for {{ accession }}{% endblock %}

{% block hero %}
<div class="text-center">
<h2 class="margin-bottom-2 padding-top-3">Metadata for {{ accession }}</h2>
<br>
{% include "download_modal.html" with modal_id="DownloadRecordModal" label="Record Information" confirm_text="Are you sure you want to download this record?" download_view="download_record_info" url_arg=accession %}
</div>

<div class="grid-container text-center">
                      <div class="grid-row flex-justify-center flex-align-center">
                        <div class="tablet:grid-col-10 padding-top-2 padding-bottom-3">
                          {% include "search_function/search_bar.html" %}
                        </div>
                      </div>
                    </div>
{% endblock hero %}

  {% block content_bottom %}

  <div class="padding-bottom-4 padding-top-4">

  {% if general_result %}


    <div class="content">
      <div class="grid-container">
        <div class="usa-table-container--scrollable" tabindex="0">
                                    <table class="usa-table usa-table--borderless usa-table--striped width-full">
                                      <thead><tr>
                                        <th scope="col">Accession</th>
                                        <th scope="col">Title</th>
                                      </tr></thead>
                                      <tbody><tr>
                                        <td class="accession">{{ accession }}</td>
                                        <td class="metadata_info text-center">{{ general_result.title }}</td>
                                      </tr></tbody></table></div>

                                    <div class="usa-table-container--scrollable" tabindex="0">
                                    <table class="usa-table usa-table--borderless usa-table--striped width-full">
                                      <thead><tr>
                                        <th scope="col">Type</th>
                                        <th scope="col">Last Updated</th>
                                        <th scope="col">Base Pair Length</th>
                                        <th scope="col">No. of RNAs Annotated</th>
                                        <th scope="col">DNA Stats</th>
                                      </tr></thead>
                                      <tbody><tr>
                                        <td>{{ organelle_label|default:"Not found." }}</td>
                                        <td>{{ general_result.updated|date:"F j, Y"|default:"None found." }}</td>
                                        <td>{{ general_result.base_pair_length|default_if_none:"Could not be determined." }}</td>
                                        <td class="text-center">
                                          <div><b>rRNA</b>: {{ general_result.r_rnas_reported|default_if_none:"None reported." }}</div>
                                          <div><b>tRNA</b>: {{ general_result.t_rnas_reported|default_if_none:"None reported." }}</div>
                                        </td>
                                        <td class="text-center">
                                          <div><b>GC Content</b>: {{ general_result.gc_content|default_if_none:"Could not be determined." }}</div>
                                          <div><b>Ambiguity Content</b>: {{ general_result.ambiguity_content|default_if_none:"Could not be determined." }}</div>
                                        </td>
                                      </tr></tbody></table></div>

                                      <div class="usa-table-container--scrollable" tabindex="0">
                                      <table class="usa-table usa-table--borderless width-full">
                                      <thead><tr>
                                        <th scope="col">Total Genes</th>
                                        <th scope="col">Gene List</th>
                                      </tr></thead>
                                      <tbody><tr>
                                        <td class="text-center">{{ general_result.gene_count|default:"Not found." }}</td>
                                        <td class="text-center">
                                          {% if general_result.gene_list %}
                                          {% if is_gene_search %}
                                          <div>
                                            <table id="gene-list-table" class="gene-list-table" style="width: 100%; border-collapse: collapse;">
                                          {% else %}
                                          <div style="max-height: 150px; overflow-y: auto; border: 1px solid #dee2e6; border-radius: 4px; padding: 4px;">
                                            <table class="gene-list-table" style="width: 100%; border-collapse: collapse;">
                                          {% endif %}
                                              <thead><tr>
                                                <th scope="col">Gene</th><th scope="col">Start</th><th scope="col">End</th>
                                              </tr></thead>
                                              <tbody>
                                                {% for gene, locations in general_result.gene_list.items %}
                                                  {% for loc in locations %}
                                                    <tr>
                                                      <td>{{ gene }}</td>
                                                      <td>{{ loc.0 }}</td>
                                                      <td>{{ loc.1 }}</td>
                                                    </tr>
                                                  {% endfor %}
                                                {% endfor %}
                                              </tbody>
                                            </table>
                                          </div>
                                          {% else %}
                                          None reported.
                                          {% endif %}
                                        </td>
                                      </tr></tbody></table></div>
      </div>
    </div>

    {% else %}
       <div class="custom-bg text-black">
      <div class="text-center">
        <h1 class="text-bold">Sorry, no results were found.</h1>
          </div>
        </div>
      {% endif %}

      {% if is_plastid %}
  {% include 'plastid_interaction/ir_info.html' %}
{% endif %}

  </div>

  {% endblock content_bottom %}