    <div class="grid-row flex-justify-center flex-align-center">
      <div class="tablet:grid-col-10">
        <form method="POST" action="{% url 'search' %}">
          {% csrf_token %}
          <div class="input-group display-flex flex-column flex-align-center">
            <div class="input-group display-flex flex-row flex-align-center width-full">
              <select class="usa-select search-category flex-1" name="category" aria-label="Search category">
                <option>Genus and Species</option>
                <option>Family</option>
                <option>Order</option>
                <option>Gene</option>
                <option>Mitochondrion</option>
                <option>Chloroplast/Plastid</option>
              </select>
              <input class="usa-input flex-4" style="max-width: none;" type="text" name="search_term" placeholder="Search organelle." aria-label="Search" required>
            </div>
              <button class="usa-button margin-top-4" type="submit">
                Search
              </button>
            </div>
          </form>
        </div>
      </div>