<!-- templates/index.html -->
{% extends "base.html" %}
{% load static %}

{% block title %}Organelle Quality Hub{% endblock %}

{% block hero %}
{% comment %}
<img class="usa-hero display-block width-full" src="https://images.pexels.com/photos/15974095/pexels-photo-15974095.jpeg" id="home-banner" alt="" style="object-fit:cover;" />
{% endcomment %}
{% endblock %}
  {% block content %}

<div class="bg-accent-warm-lighter padding-top-2 padding-bottom-3">
  <div class="grid-container">
    {% include "search/search_bar.html" %}

    <div class="padding-top-2" style="max-width:50%;margin:0 auto;">
      {{ total_histogram|safe }}
    </div>

    <div class="usa-media-block flex-align-center bg-accent-warm-lighter radius-md padding-1 margin-bottom-3">
      <img class="usa-media-block__img organelle_image width-15 height-15" src="{% static 'Mitochondrion.svg' %}" alt="Mitochondrion icon">
      <div class="usa-media-block__body">
        <h3>Mitochondria</h3>
        <p>
          <a href="/results/?q=*&category=Mitochondrion">Search All Records</a> Look for all mitochondrial records.<br>
          <a href="/results/?q=Homo sapiens&category=Mitochondrion">Human Records</a> Look for all human mitochondrial records.<br>
          <a href="/results/?random=1&organelle=Mitochondrion">Random Record</a> Search for a random mitochondrial record.
        </p>
      </div>
    </div>

    <div class="usa-media-block flex-align-center bg-accent-warm-lighter radius-md padding-1 margin-bottom-3">
      <img class="usa-media-block__img organelle_image width-15 height-15" src="{% static 'Chloroplast.svg' %}" alt="Chloroplast icon">
      <div class="usa-media-block__body">
        <h3>Chloroplasts & Other Plastids</h3>
        <p>
          <a href="/results/?q=*&category=Chloroplast/Plastid">Search All Records</a> Look for all chloroplast and other plastid records.<br>
          <a href="/results/?q=*&category=IR Reported">IR Reported</a> Look for records that have 2 inverted repeats annotated.<br>
          <a href="/results/?random=1&organelle=Plastid">Random Record</a> Search for a random chloroplast record.
        </p>
      </div>
    </div>

  </div>
  
</div>

{% endblock %}